<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : context.xml
    Created on : 13 de Janeiro de 2009, 10:11
    Author     : Ulysses Souza
    Description:
        Contexts configuration
-->

<contexts>
    <context port="80">
        <document-root>c:/temp</document-root>
        <handler>com.HyperOne</handler>
        <path>/teste/*.vm</path>
    </context>
</contexts>
